nav{
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  background: var(--light-blue-shadow);
}
nav a{
  background: transparent;
  padding: 0.7rem;
  border-radius: 50%;
  display: flex;
  font-size: 2rem;
  text-decoration: none;
  height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
}
nav a:hover{
  background: var(--sea-green-shadow);
  text-decoration: none;
  color: white;
}
nav a.active{
  background: var(--sea-green);
  color: white;
}

@media screen and (max-width:600px) {
  nav { padding: 0.7rem 1.1rem;}
}