.custom-shape-divider-bottom-1663258100 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663258100 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 67px;
}

.custom-shape-divider-bottom-1663258100 .shape-fill {
  fill: #192836;
}

.profile-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: fit-content;
  padding: 3rem 22px;
  text-align: center;
  background-size: 100% 100%;
background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%),repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),radial-gradient(99% 99% at 109% 2%, #00c9ff3b 0%, #073AFF00 100%),radial-gradient(99% 99% at 21% 78%, #7b00ff38 0%, #073AFF00 100%),radial-gradient(160% 154% at 711px -303px, #2000ff24 0%, #073aff17 100%);
}
.profile-parent{
  display: flex;
  align-items: center;
  color: aliceblue;
}
.profile-details-name{
  font-size: 24px;
  font-family: 'Poppins SemiBold';
}
.profile-details-role{
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-details-role h1{
  font-size: 40px;
  font-family: cursive;
}
.primary-text{
  color: (--white);
}
.highlighted-text{
  color: var(--dark-orange);
}
.profile-role-tagline{
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: 'Poppins Light';
}
.profile-options .highlighted-btn{
  margin: 0 0 0 28px;
}
.profile-options .highlighted-btn:hover{
  margin: 0 0 0 28px;
  color: #111;
  background-color: antiquewhite;
}
.profile-picture{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px var(--white);
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
  border-radius: 50%;
}
.profile-picture-background{
height: 92%;
width: 92%;
background-image: url("../../assests/Home/profilephoto.jpeg");
background-size: cover;
border-radius: 50%;
background-repeat: no-repeat;
background-position: center;
}
.profile-picture-background:hover{
 transform: scale(1.07);
 transition: 1s ease-in-out;
}
.colz .colz-icon i{
  color: white;
  padding: 8px;
  padding-left: 0px;
  font-size: 27px;
}
.colz .colz-icon i:hover{
  transform: scale(1.5);    transition: all 0.3s ease-in-out;
}
.profile-options{display: flex;justify-content: space-evenly;}

.cta-primary{width: fit-content; padding:14px 25px;     font-size: 1.1rem;  
  cursor: pointer; -webkit-tap-highlight-color: transparent;display: flex;
  align-items: center;justify-content: center;color:white;
  position: relative;z-index: 0;  text-transform: uppercase;      transition: all 0.5s ease 0s;
  background: linear-gradient(to right, #1f2235 50%, transparent 50%);
  background-size: 203% 100%;background-position: right bottom; text-decoration: none;}

.cta-primary:hover{color: white;outline: 0px; background-position: left bottom;
  transition-delay: 0.2s;text-decoration: none;}

.cta-wrapper a span {position:absolute;  transition: all .3s;}
.cta-wrapper a span:nth-child(1),
.cta-wrapper a span:nth-child(3){width: 85%;height: 2px;background: white;}
.cta-wrapper a span:nth-child(1){top:0;left:0;transform-origin: right;}
.cta-wrapper a:hover span:nth-child(1) {width: 100%;}
.cta-wrapper a span:nth-child(3){bottom:0;right: 0;transform-origin: left;height: 2px;
  width: 86%;background: white;    
transition: all 0.3s;transition-delay: 0.5s;}
.cta-wrapper a:hover span:nth-child(3){bottom: 0;right: 0;transform-origin: left;
  width: 100%;transition-delay: revert;}
.cta-wrapper a span:nth-child(2),
.cta-wrapper a span:nth-child(4){width: 2px;height: 61%;background: white;}
.cta-wrapper a span:nth-child(2){top: 0;left: 0;transform-origin: bottom;transition: all 0.3s;transition-delay: 0.5s;}
.cta-wrapper a:hover span:nth-child(2) {height: 100%;transition-delay: revert;}
.cta-wrapper a span:nth-child(4){bottom: 0;right:0;}
.cta-wrapper a:hover span:nth-child(4){transform: scale(1);transform-origin: bottom;height: 100%;}



@media screen and (max-width:1110px) {
  .profile-picture{
    margin: 0 0px 0 80px;
  }
  .profile-details-name{
    font-size: 20px;
  }
  .profile-options .btn{
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}
@media screen and (max-width:910px) {
.profile-picture{
  height: 320px;
  width: 320px;
  margin: 0 0 0 4px;
}
}
@media screen and (max-width:810px) {
  .profile-picture{
    margin: 0px;
  }
  .profile-parent{
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options{
    display: flex;
    justify-content: space-around;
  }
  .profile-details{
    margin: 0px;
  }
  .profile-options, .profile-details-role{
    text-align: center;
    margin-bottom: 24px;
  }
  }
