.experience_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  color: white;margin-top: 3rem;
}
.experience_container > div{
  background-color: var(--bg-primary);
  /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, #F57F17 100%); */
  padding: 2.4rem 2.4rem;
  border-radius: 2rem;
  border:1px soli transparent;
  transition: var(--transition);
}
.experience_container > div:hover{
  transform: skewX(3deg);
}
.experience_container > div h4{
  text-align: center;
  margin-bottom: 2rem;
  color: var(--light-blue);
}
.experince__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.experience__details{
display: flex;
gap: 1rem; align-items: center;
}
.experience__details > svg{font-size: 2.4rem;}

.experience__details small{
  color:#b0b8c1!important;
}

/*========= media queries for medium ============*/
@media screen and (max-width:1024px) {
  .experience_container{grid-template-columns: 1fr;}
  .experience_container > div{width: 80%; padding: 2rem; margin: 0 auto;}
  .experince__content{padding: 1rem;}
}

/*========= media queries for small screen ============*/
@media screen and (max-width:600px) {
  .experience_container{gap:1rem;}
  .experience_container > div{width: 100%; padding: 2rem 1rem;}
  .experience__details > svg {font-size: 1.5rem;}
}
